


.header__wrapper,
.header__container,
.logo__container,
.header__content-one,
.header__content-two,
ul {
  display: flex;
  align-items: center;
}


.header__container {
  max-width: 100%;
  width: 100%;
  background: red;
}